{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8
  },
  "rules": {
    "no-unused-vars": ["warn", {"vars": "local", "args": "none"}],
    "no-eval": ["error"],
    "no-implied-eval": ["error"],
    "array-bracket-spacing": ["error", "never"],
    "block-spacing": ["error", "never"],
    "brace-style": ["error", "1tbs"],
    "camelcase": ["error", {"properties": "never"}],
    "comma-dangle": ["error", "always-multiline"],
    "comma-spacing": ["error", {"before": false, "after": true}],
    "eol-last": ["error", "always"],
    "func-call-spacing": ["error", "never"],
    "func-name-matching": ["error"],
    "indent": [ "error", 2, {"SwitchCase": 1} ],
    "key-spacing": ["error", {"beforeColon": false, "afterColon": true}],
    "keyword-spacing": ["error", {"before": true, "after": true}],
    "linebreak-style": ["error", "unix"],
    "max-depth": ["warn", {"max": 4}],
    "max-nested-callbacks": ["warn", {"max": 4}],
    "max-statements-per-line": ["warn", {"max": 1}],
    "new-cap": ["error", {"newIsCap": true, "capIsNew": true, "properties": true, "capIsNewExceptions": ["Router", "Schema"]}],
    "new-parens": ["error"],
    "no-bitwise": ["warn"],
    "no-continue": ["warn"],
    "no-lonely-if": ["error"],
    "no-mixed-operators": ["error"],
    "no-multiple-empty-lines": ["error", {"max": 2, "maxEOF": 1, "maxBOF": 1}],
    "no-new-object": ["error"],
    "no-trailing-spaces": ["error"],
    "no-whitespace-before-property": ["error"],
    "object-curly-spacing": ["error", "never"],
    "one-var-declaration-per-line": ["error", "always"],
    "one-var": ["error", "never"],
    "operator-linebreak": ["warn", "before"],
    "quote-props": ["error", "consistent"],
    "quotes": ["error", "single"],
    "semi-spacing": ["error", {"before": false, "after": true}],
    "semi": ["error", "always"],
    "space-before-blocks": ["error", "always"],
    "space-before-function-paren": ["error", {"anonymous": "always", "named": "always", "asyncArrow": "always"}],
    "space-in-parens": ["error", "never"],
    "space-infix-ops": ["error"],
    "space-unary-ops": ["error", {"words": true, "nonwords": false}],
    "spaced-comment": ["error", "always", {"block": {"balanced": true}}],
    "unicode-bom": ["error", "never"],
    "wrap-regex": ["error"],
    "arrow-spacing": ["error", {"before": true, "after": true}],
    "no-var": ["error"],
    "object-shorthand": ["error", "methods"],
    "prefer-numeric-literals": ["error"],
    "prefer-rest-params": ["error"],
    "prefer-spread": ["error"],
    "rest-spread-spacing": ["error", "never"],
    "template-curly-spacing": ["error", "never"]

  }
}
